.idea/
*.iml
.#*
*~
*#
#*
*.orig
*.sublime-project
*.sublime-workspace
node_modules
/index.html
tests/*.html
!tests/_index.html
dist/
templates.js
*.log
**/npm-cache
*.swp
tests/coverage
.sonar/
docs/*
